color-blue-lighten-5 = #e3f2fd
color-blue-lighten-4 = #bbdefb
color-blue-lighten-3 = #90caf9
color-blue-lighten-2 = #64b5f6
color-blue-lighten-1 = #42a5f5
color-blue = #2196f3
color-blue-darken-1 = #1e88e5
color-blue-darken-2 = #1976d2
color-blue-darken-3 = #1565c0
color-blue-darken-4 = #0d47a1
color-blue-accent-1 = #82b1ff
color-blue-accent-2 = #448aff
color-blue-accent-3 = #2979ff
color-blue-accent-4 = #2962ff

color-red-lighten-5 = #ffebee
color-red-lighten-4 = #ffcdd2
color-red-lighten-3 = #ef9a9a
color-red-lighten-2 = #e57373
color-red-lighten-1 = #ef5350
color-red = #f44336
color-red-darken-1 = #e53935
color-red-darken-2 = #d32f2f
color-red-darken-3 = #c62828
color-red-darken-4 = #b71c1c
color-red-accent-1 = #ff8a80
color-red-accent-2 = #ff5252
color-red-accent-3 = #ff1744
color-red-accent-4 = #d50000

color-green-lighten-5 = #e8f5e9
color-green-lighten-4 = #c8e6c9
color-green-lighten-3 = #a5d6a7
color-green-lighten-2 = #81c784
color-green-lighten-1 = #66bb6a
color-green = #4caf50
color-green-darken-1 = #43a047
color-green-darken-2 = #388e3c
color-green-darken-3 = #2e7d32
color-green-darken-4 = #1b5e20
color-green-accent-1 = #b9f6ca
color-green-accent-2 = #69f0ae
color-green-accent-3 = #00e676
color-green-accent-4 = #00c853

color-grey-lighten-5 = #fafafa
color-grey-lighten-4 = #f5f5f5
color-grey-lighten-3 = #eeeeee
color-grey-lighten-2 = #e0e0e0
color-grey-lighten-1 = #bdbdbd
color-grey = #9e9e9e
color-grey-darken-1 = #757575
color-grey-darken-2 = #616161
color-grey-darken-3 = #424242
color-grey-darken-4 = #212121
